<p id="notice"><%= notice %></p>


<div class="container-fluid">
    <div class="row">
        <div class="col-lg-6">
            <h2 class="page-header">
                Visualizar Cliente
            </h2>
        </div>
    </div>
    <div class="curso form">

           <div class="row">

               <div class="col-lg-4 form-group">   
                  <label class = 'control-label'>Nome</label>
                  <input readonly="true" class = 'form-control' value="<%= @cliente.nome %>" />
               </div>

           </div>    

           <div class="row">
                <div class="col-lg-4 form-group">   
                  <label class = 'control-label'>Email</label>
                  <input readonly="true" class = 'form-control' value="<%= @cliente.email %>" />
                </div>
           </div>

           <div class="row">
                <div class="col-lg-2 form-group">  
                  <label class = 'control-label'>CPF</label>
                  <input readonly="true" class = 'form-control' value="<%= @cliente.cpf %>" />
                </div>
           </div>
                
           <div class="row">
                <div class="col-lg-2 form-group">  
                  <label class = 'control-label'>Telefone</label>
                  <input readonly="true" class = 'form-control' value="<%= @cliente.telefone %>" />
                </div>
           </div> 
            
             <div class="row">
                <div class="col-lg-4 form-group">  
                  <%= link_to 'Editar', edit_cliente_path(@cliente), :class => "btn btn-primary" %>
                  <%= link_to 'Voltar', clientes_path, :class => "btn btn-primary"%>
                </div>
            </div>
     
                          
    </div>
</div>
