<%= form_with(model: plano, local: true) do |form| %>
  <% if plano.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(plano.errors.count, "error") %> prohibited this plano from being saved:</h2>

      <ul>
      <% plano.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="col-lg-10 form-group">
  
  <div class="row">
  <div class="col-lg-5 form-group">
    <%= form.label :nome, :class => 'control-label' %>
    <%= form.text_field :nome, id: :plano_nome, :class => 'form-control' %>
  </div>
  </div>

  <div class="row">
  <div class="col-lg-5 form-group">
    <%= form.label :referente, :class => 'control-label' %>
    <%= form.text_field :referente, id: :plano_referente, :class => 'form-control' %>
  </div>
  </div>

  <div class="row">
  <div class="col-lg-2 form-group">
    <%= form.label :descrição, :class => 'control-label' %>
    <%= form.text_field :descricao, id: :plano_descricao, :class => 'form-control' %>
  </div>
  </div>

  <div class="row">
  <div class="col-lg-3 form-group">
    <%= form.label :valor, :class => 'control-label' %>
    <%= form.number_field :valor, id: :plano_valor, :class => 'form-control' %>
  </div>
  </div>


  <div class="row">
  <div class="col-lg-7 form-group">  
      <input type="submit" name="commit" class="btn btn-primary" value="Salvar" data-disable-with="Salvar" />
      <%= link_to 'Voltar', planos_path, :class => "btn btn-primary"%>
  </div>
  </div>

  </div>

<% end %>
