<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @exercicio.nome %>
</p>

<p>
  <strong>Serie:</strong>
  <%= @exercicio.serie %>
</p>

<p>
  <strong>Rept:</strong>
  <%= @exercicio.rept %>
</p>

<p>
  <strong>Carga:</strong>
  <%= @exercicio.carga %>
</p>

<%= link_to 'Edit', edit_exercicio_path(@exercicio) %> |
<%= link_to 'Back', exercicios_path %>
