<div class="bairro form">
<%= form_with(model: user, url: createuser_users_path, local: true) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %> 

  <div class="row">
                <div class="col-lg-4 form-group">   
                  <%= form.label :nome, :class => 'control-label' %>
                  <%= form.text_field :nome, id: :user_nome, :class => 'form-control' %>
                </div>           
                          
                <div class="col-lg-4 form-group">   
                  <%= form.label :email, :class => 'control-label' %>
                  <%= form.text_field :email, id: :user_email, :class => 'form-control' %>
                </div>
            </div>



  <div class="row">
                <div class="col-lg-3 form-group">   
                  <%= form.label :Senha, :class => 'control-label' %>
                  <%= form.password_field :password,  autocomplete: "off", id: :user_password, :class => 'form-control' %>
                </div>            
                        
              <div class="col-lg-4 form-group">
                <%= form.label :tipo, :class => 'control-label' %>
                <%= form.select :tipo, [["Admin", "Admin"], ["Funcionário", "Funcionário"]], {include_blank: "Selecionar"}, {class: "form-control"} %>
                
                </div>
  </div>



  <div class="row">
                <div class="col-lg-4 form-group">  
                  <input type="submit" name="commit" class="btn btn-primary" value="Salvar" data-disable-with="Salvar" />
                  
                  <%= link_to 'Voltar', users_path, :class => "btn btn-primary"%>
                  
                </div>
            </div>

<% end %>
</div>
