<p id="notice"><%= notice %></p>


<div class="container-fluid">
    <div class="row">
        <div class="col-lg-6">
            <h2 class="page-header">
                Visualizar Modalidade
            </h2>
        </div>
    </div>
    <div class="curso form">

           <div class="row">

               <div class="col-lg-4 form-group">   
                  <label class = 'control-label'>Nome</label>
                  <input readonly="true" class = 'form-control' value="<%= @modalidade.nome %>" />
               </div>

           </div>    

           <div class="row">
                <div class="col-lg-4 form-group">   
                  <label class = 'control-label'>Referente</label>
                  <input readonly="true" class = 'form-control' value="<%= @modalidade.descricao %>" />
                </div>
           </div>

           <div class="row">
                <div class="col-lg-2 form-group">  
                  <label class = 'control-label'>Receita</label>
                  <input readonly="true" class = 'form-control' value="<%= @modalidade.receita ? 'Sim' : 'Não' %>" />
                </div>
           </div>
                
           <div class="row">
                <div class="col-lg-2 form-group">  
                  <label class = 'control-label'>Despesa</label>
                  <input readonly="true" class = 'form-control' value="<%= @modalidade.despesa ? 'Sim' : 'Não' %>" />
                </div>
           </div>             
            
             <div class="row">
                <div class="col-lg-4 form-group">  
                  <%= link_to 'Editar', edit_modalidade_path(@modalidade), :class => "btn btn-primary" %>
                  <%= link_to 'Voltar', modalidades_path, :class => "btn btn-primary"%>
                </div>
            </div>
     
                          
    </div>
</div>
